<html lang="en">
    <head>

        <meta charset="UTF-8"/>
        <title>CadastroDePessoas</title>

    </head>
    <body>

        <form>
            <label>Nome: </label>
            <input type="text"/>

            <br/><br/>

            <label>Login: </label>
            <input type="text"/>

            <br/><br/>

            <label>Senha: </label>
            <input type="password"/>

            <br/><br/>

            <input type="button" value="Salvar"/>

        </form>
    </body>
</html>