<html lang="en" ng-app="editarPessoasControllerApp">
<head>

    <meta charset="UTF-8"/>
    <title>CadastroDePessoas</title>
    <script type="text/javascript" src="../../javascript/angular.min.js"></script>
    <script type="text/javascript" src="../../javascript/editarPessoasController.js"></script>

</head>
    <body>

        <form ng-controller="editarPessoasController" data-ng-init="init()">
            <label>Id: </label>
            <input type="text" disabled="true" ng-model="id"/>

            <br/><br/>

            <label>Nome: </label>
            <input type="text" ng-model="nome"/>

            <br/><br/>

            <label>Login: </label>
            <input type="text" ng-model="login"/>

            <br/><br/>

            <label>Senha: </label>
            <input type="password" ng-model="senha"/>

            <br/><br/>

            <input type="button" value="Editar" ng-click="editarPessoas()"/>

            <br/><br/>

            <a href="../consultarPessoas.html">Voltar</a>

        </form>
    </body>
</html>